<?php

/**
 * @author Robert Boloc <robert.boloc@urv.cat>
 * @copyright 2013 Servei de Recursos Educatius (http://www.sre.urv.cat)
 */

return array(
    'api_entry' => 'http://10.40.32.1/rboloc/moodle/blocks/video_converter/lib/api.php',
    'uploads_dir' => '/var/www/uploads',
    'max_size' => 734003200, //bytes
    'converters' => array(
        'binary_path' => '/usr/bin/avconv',
        /**
         * -y -> overwrite always
         */
        'params' => '-y',
    ),
    'workers' => array(
        'max_instances' => 3
    ),
    /**
     * Seconds to keep the file after the first download
     */
    'expire_time' => 86400,
);
